@charset "UTF-8";
body, p {
  font-family: "Raleway", sans-serif;
}

.__noscroll {
  overflow: hidden;
}

/* Globals */
/* Variables */
/*
font-family: 'Raleway', sans-serif;
font-family: 'Fascinate Inline', cursive;
*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Fascinate Inline", cursive;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.wrapper {
  position: relative;
  margin-top: 0;
  transition: all 1s ease;
  z-index: 0;
}

/* Header */
.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  padding: 20px 0;
  z-index: 20;
}
@media (min-width: 992px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    right: 0;
    width: 100%;
    height: auto;
    padding: 20px 0;
    z-index: 20;
  }
}

.logocenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.logocenter h1 {
  font-size: 30px;
  margin-bottom: 0;
  color: #A30000;
}
@media (min-width: 768px) {
  .logocenter h1 {
    font-size: 40px;
  }
}

/* Desktop Nav */
.nav-desktop {
  width: 100%;
  height: 100%;
  display: none;
}
@media (min-width: 992px) {
  .nav-desktop {
    display: block;
  }
}
.nav-desktop ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.nav-desktop ul .menu-item {
  display: inline;
  padding: 0 30px;
  float: right;
}
.nav-desktop ul a {
  font-size: 20px;
  font-weight: bold;
  color: #A30000;
  text-decoration: none;
  font-family: "Fascinate Inline", cursive;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  transition: all 0.4s ease;
}
.nav-desktop ul a:hover, .nav-desktop ul a:focus {
  text-decoration: none;
  color: #EA2B1F;
}

/* Nav Toggle */
.nav-toggle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
@media (min-width: 768px) {
  .nav-toggle {
    justify-content: flex-end;
  }
}
@media (min-width: 992px) {
  .nav-toggle {
    display: none;
    justify-content: flex-end;
  }
}

.burger {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  z-index: 20;
}
.burger:hover span::after {
  width: 29px;
}
.burger:hover span::before {
  width: 23px;
}
.burger:active span::before span::after {
  width: 35px;
}
.burger:hover, .burger:focus {
  text-decoration: none;
  border: none;
  outline: none;
}
.burger span {
  position: relative;
  width: 35px;
  height: 2px;
  background-color: #000;
  transition: all 0.4s ease;
}
.burger span::before {
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  width: 35px;
  height: 2px;
  background-color: #000;
  transition: all 0.4s ease;
}
.burger span::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 35px;
  height: 2px;
  background-color: #000;
  transition: all 0.4s ease;
}
.burger.active {
  z-index: 9999;
}
.burger.active span {
  background-color: transparent;
}
.burger.active span::before {
  top: 0px;
  width: 35px;
  transform: rotate(45deg);
  background-color: #000;
}
.burger.active span::after {
  bottom: 0px;
  width: 35px;
  background-color: #000;
  transform: rotate(-45deg);
}

/* Mobile Nav */
.nav-mobile {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 0;
  /* left: 0; */
  /* right: 0; */
  background-color: #fff;
  transition: 0.4s ease-out;
  overflow: hidden;
}
@media (min-width: 992px) {
  .nav-mobile {
    display: none;
  }
}
.nav-mobile.active {
  height: 100vh;
}
.nav-mobile-links {
  padding-top: 100px;
}
.nav-mobile-links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  list-style-type: none;
  padding-left: 0px;
  padding-top: 100px;
}
.nav-mobile-links ul li {
  padding: 15px;
  width: 110%;
  border-bottom: 0.5px solid #A30000;
  text-align: center;
}
.nav-mobile-links ul li a {
  text-decoration: none;
  font-family: "Fascinate Inline", cursive;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  color: #A30000;
  transition: all 0.4s ease;
}
@media (min-width: 768px) {
  .nav-mobile-links ul li a {
    font-size: 20px;
  }
}
.nav-mobile-links ul li a:hover, .nav-mobile-links ul li a:focus {
  text-decoration: none;
  color: #EA2B1F;
}

/* Banner */
.banner {
  width: 100%;
  position: relative;
  height: 100vh;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
@media (min-width: 768px) {
  .banner {
    height: 100vh;
    padding-top: 60px;
  }
}
@media (min-width: 992px) {
  .banner {
    height: 100vh;
    padding-top: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.banner-img {
  width: 100%;
  height: 100%;
  background-image: url("../images/classic.jpg");
  background-position: 100% 100%;
  position: relative;
  background-repeat: no-repeat;
}
@media (min-width: 992px) {
  .banner-img {
    width: 65%;
  }
}
@media (min-width: 1200px) {
  .banner-img {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .banner-img::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 60%;
    right: 0;
    background: linear-gradient(270deg, #570000 0%, rgba(0, 0, 0, 0) 100%);
    display: block;
  }
}
.banner-content {
  position: absolute;
  position: absolute;
  width: 100%;
  height: 30%;
  right: 0;
  bottom: 0;
  z-index: 1;
}
@media (min-width: 992px) {
  .banner-content {
    background-color: #570000;
  }
}
.banner-content::before {
  background: #570000;
  background: linear-gradient(0deg, #570000 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  z-index: 2;
}
@media (min-width: 992px) {
  .banner-content::before {
    display: none;
  }
}
@media (min-width: 992px) {
  .banner-content {
    position: relative;
    width: 35%;
    height: 100%;
    right: auto;
    bottom: auto;
    padding-top: 100px;
  }
}
@media (min-width: 1200px) {
  .banner-content {
    width: 30%;
  }
}
.banner-content-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.banner-content-body h2 {
  color: #fff;
}
.banner .btn {
  padding: 12px 32px;
  color: #fff;
  box-shadow: inset 0 0 0 3px #A30000;
  font-family: "Fascinate Inline", cursive;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  border-radius: 100px;
  font-size: 15px;
}
@media (min-width: 768px) {
  .banner .btn {
    font-size: 17px;
    padding: 15px 35px;
  }
}
@media (min-width: 992px) {
  .banner .btn {
    font-size: 20px;
    padding: 20px 40px;
  }
}
.banner a {
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: all 0.6s ease;
}
.banner a:hover, .banner a:focus {
  color: #fff;
}
.banner a:hover::after, .banner a:focus::after {
  width: 100%;
  border-radius: 0;
}
.banner a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.banner a::after {
  content: "";
  width: 0%;
  height: 100%;
  background-color: #c41d12;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.6s ease;
  border-radius: 0% 100% 100% 0%/30% 100% 0% 70%;
}

.portfolio {
  width: 100%;
  height: auto;
  background-color: #fff;
}
.portfolio-head {
  color: #A30000;
  background-color: #fff;
  padding: 20px 0;
}
.portfolio-grid {
  width: 100%;
  height: 250px;
  padding: 0px 0px !important;
  overflow: hidden;
}
.portfolio-grid.__test {
  display: none;
}
@media (min-width: 992px) {
  .portfolio-grid.__test {
    display: block;
  }
}
@media (min-width: 1200px) {
  .portfolio-grid.__test {
    display: none;
  }
}
@media (min-width: 375px) {
  .portfolio-grid {
    height: 300px;
  }
}
@media (min-width: 500px) {
  .portfolio-grid {
    height: 400px;
  }
}
@media (min-width: 992px) {
  .portfolio-grid {
    height: 300px;
  }
}
@media (min-width: 1200px) {
  .portfolio-grid {
    height: 300px;
  }
}
@media (min-width: 1400px) {
  .portfolio-grid {
    height: 350px;
  }
}
.portfolio-grid-content {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.portfolio-grid-content:hover::before {
  opacity: 0;
}
.portfolio-grid-content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #292929;
  opacity: 0.7;
  transition: all 0.4s ease;
  z-index: 1;
}
.portfolio-grid-content-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.portfolio-grid-content-img img {
  object-fit: cover;
  font-family: "object-fit: cover;";
}
.portfolio-grid-content-head {
  text-transform: uppercase;
  color: #fff;
  z-index: 2;
  font-size: 20px;
  text-shadow: 0 0 4px #292929;
}
@media (min-width: 500px) {
  .portfolio-grid-content-head {
    font-size: 28px;
  }
}
.portfolio-grid-content-description {
  font-family: "Fascinate Inline", cursive;
  color: #fff;
  letter-spacing: 3.5px;
  z-index: 2;
  font-size: 13px;
  text-shadow: 0 0 4px #292929;
}
@media (min-width: 500px) {
  .portfolio-grid-content-description {
    font-size: 16px;
  }
}
.portfolio-grid-content-button {
  font-family: "Fascinate Inline", cursive;
  z-index: 5;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  color: #fff;
  padding: 11px 25px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 3px #EA2B1F;
  font-size: 10px;
  position: relative;
  overflow: hidden;
  transition: all 0.6s ease;
  overflow: hidden;
  text-shadow: 0 0 4px #292929;
}
@media (min-width: 500px) {
  .portfolio-grid-content-button {
    font-size: 12px;
    padding: 15px 35px;
  }
}
.portfolio-grid-content-button::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #EA2B1F;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.6s ease;
  border-radius: 0% 100% 100% 0%/30% 100% 0% 70%;
}
.portfolio-grid-content-button:hover {
  text-decoration: none;
  color: #fff;
}
.portfolio-grid-content-button:hover::before {
  width: 100%;
  border-radius: 0;
}

.footer {
  height: 500px;
  width: 100%;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}
@media (min-width: 992px) {
  .footer {
    flex-direction: row;
  }
}
.footer-left, .footer-right {
  position: relative;
  width: 100%;
  height: 100%;
}
@media (min-width: 992px) {
  .footer-left, .footer-right {
    width: 50%;
    height: 100%;
  }
}
.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-left-head {
  position: absolute;
  left: 0;
  top: 0px;
  height: 80px;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .footer-left-head {
    bottom: 0px;
    top: auto;
  }
}
.footer-left-head h2 {
  color: #EA2B1F;
  font-size: 1rem;
}
@media (min-width: 992px) {
  .footer-left-head h2 {
    font-size: 1.5rem;
  }
}
.footer-left-bottom {
  position: absolute;
  left: 0;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #fff;
  display: none;
}
@media (min-width: 992px) {
  .footer-left-bottom {
    display: block;
  }
}
.footer-left .details {
  text-align: center;
  letter-spacing: 3.5px;
}
.footer-left .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  width: 400px;
}
.footer-left .social ul {
  padding-left: 0px;
}
.footer-left .social ul li {
  background: #292929;
  border-radius: 50%;
  float: left;
  height: 50px;
  list-style: none;
  margin: 0 10px;
  width: 50px;
  font-size: 20px;
  animation: transformback 0.5s forwards;
}
.footer-left .social ul li:before {
  font: 400 1em/50px "FontAwesome";
}
.footer-left .social ul li:hover {
  animation: transform 0.5s forwards, shadow 1s forwards;
}
.footer-left .social ul .facebook:hover::before {
  color: #EA2B1F;
}
.footer-left .social ul .facebook:before {
  color: #EA2B1F;
  content: "";
  display: block;
  line-height: 50px;
  text-align: center;
}
.footer-left .social ul .twitter:hover::before {
  color: #EA2B1F;
}
.footer-left .social ul .twitter:before {
  color: #EA2B1F;
  content: "";
  display: block;
  line-height: 50px;
  text-align: center;
}
.footer-left .social ul .google:hover::before {
  color: #EA2B1F;
}
.footer-left .social ul .google:before {
  color: #EA2B1F;
  content: "";
  display: block;
  line-height: 50px;
  text-align: center;
}
.footer-left .social ul .instagram:hover::before {
  color: #EA2B1F;
}
.footer-left .social ul .instagram:before {
  color: #EA2B1F;
  content: "";
  display: block;
  line-height: 50px;
  text-align: center;
}
@-webkit-keyframes transform {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
  }
}
@keyframes transform {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
@keyframes transformback {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes shadow {
  from {
    box-shadow: 0 0 0 #EA2B1F;
  }
  to {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}
@keyframes shadow {
  from {
    box-shadow: 0 0 0 #EA2B1F;
  }
  to {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}
@keyframes shadowback {
  from {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  to {
    box-shadow: 0 0 0 #EA2B1F;
  }
}
.footer-right-head {
  position: absolute;
  right: 0;
  top: 0px;
  height: 80px;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-right-head h2 {
  color: #EA2B1F;
  font-size: 1rem;
}
@media (min-width: 992px) {
  .footer-right-head h2 {
    font-size: 1.5rem;
  }
}
.footer-right-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
  background-color: #fff;
  display: none;
}
@media (min-width: 992px) {
  .footer-right-bottom {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
